@page "{orgId?}"
@model SampleMvcApp.ViewModels.UserPageModel

<h1>User Profiles</h1>

@if (Model != null && Model.Users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@Model.ErrorMessage</p>
}
